In [2]:
import numpy as np
import pandas as pd

In [3]:
# Series 생성
s = pd.Series([1,3,5,np.nan,6,8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [10]:
dates = pd.date_range('20130101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=['A','B','C','D'])

In [11]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df

                   A         B         C         D
2013-01-01  1.181412  0.271141 -0.435712  0.862857
2013-01-02 -0.931291  0.347380  0.096542 -0.486715
2013-01-03 -1.670862  0.058267 -0.709623  0.716879
2013-01-04  0.849295 -1.020308  2.842850 -0.631009
2013-01-05 -2.222847  0.316455  0.236681 -1.020273
2013-01-06 -0.920816 -0.037149 -1.124056  0.813197

In [13]:
df_dict = pd.DataFrame(
    {'A':1,
     'B':pd.Timestamp('20130101'),
     'C':pd.Series(1,index=list(range(4)),dtype='float32'),
     'D':np.array([3]*4,dtype='int32'),
     'E':pd.Categorical(['test','train','test','train']),
     'F':'str'}
)

In [14]:
df_dict

   A          B    C  D      E    F
0  1 2013-01-01  1.0  3   test  str
1  1 2013-01-01  1.0  3  train  str
2  1 2013-01-01  1.0  3   test  str
3  1 2013-01-01  1.0  3  train  str

### 데이터 확인하기